---
import { Image } from 'astro:assets';
import ImoLogo from '~/assets/imo-logo.png'
---
<!-- About Section -->
<div class="h-[100px]" />

<section class="bg-neutral-900 text-white" id="about">
	<div class="container flex flex-col lg:flex-row items-center align-center gap-12 py-20 mx-auto">
		<div class="about-img rounded w-full h-full">
			<div class="h-[460px] bg-neutral-50 rounded-lg flex justify-center items-center">
				<Image class="w-[auto]" src={ImoLogo} alt="IMO Love Your Car" />
			</div>
		</div>

		<div class="about-content text-lg">
			<h2 class="py-4 text-5xl font-bold">Über Billis Car Wash</h2>
			<h3 class="font-bold text-[var(--imo-light)] uppercase mb-8">Unter neuer Leitung ab Mai 2025!</h3>

			<div class="text-neutral-300">
				<p class="mb-4">Wir sind Ihr vertrauenswürdiger Partner für erstklassige Autowäsche und professionelle Fahrzeugaufbereitung in Schorndorf und Umgebung.</p>
				<p class="mb-4">
					Unser erfahrenes Team legt größten Wert auf <span class="font-medium text-[var(--imo-light)]">Qualität</span> und <span class="font-medium text-[var(--imo-light)]">Detailgenauigkeit</span>. Wir verwenden 
					ausschließlich <span class="font-medium text-[var(--imo-light)]">hochwertige Produkte</span>, die Ihr Fahrzeug nicht nur <span class="font-medium text-[var(--imo-light)]">sauber</span>, sondern auch <span class="font-medium text-[var(--imo-light)]">geschützt</span> halten.
				</p>
				<p class="mb-10">
					Von Kleinwagen bis Luxuskarossen - bei uns ist jedes Fahrzeug in besten Händen. <br>
					Überzeugen Sie sich selbst!
				</p>
			</div>

			<a href="#contact" class="btn">Kontaktieren Sie uns</a>
		</div>
	</div>
</section>