---
import GTR from '~/assets/nissan-gtr-black-wash.jpg'

---
<!-- Hero Section -->
<section class="relative flex items-center align-center pb-[120px] text-white w-full h-[100vh]" id="home">
	<div class="absolute top-0 left-0 left-0 right-0 z-1 w-full h-full">
	<div class="absolute top-0 left-0 left-0 right-0 z-1 w-full h-full 
			bg-cover bg-center			
			contrast-200 saturate-50 opacity-80" 
		style={`background-image:url(${GTR.src})`} />

	<div class="absolute top-0 left-0 left-0 right-0 z-2 w-full h-full bg-blue-500 opacity-50 mix-blend-multiply" />
	<div class="absolute top-0 left-0 left-0 right-0 z-2 w-full h-full bg-neutral-900 opacity-30 mix-blend-multiply" />
	<div class="absolute top-0 left-0 left-0 right-0 z-2 w-full h-full border-x-10 border-white hidden" />
	</div>

	<div class="relative z-5 flex flex-col justify-center align-center gap-8 text-center fade-in max-w-[800px] mx-auto">
		<h1 class="text-4xl md:text-5xl lg:text-7xl font-bold max-w-3xl">Premium Autowäsche & Aufbereitung in Schorndorf</h1>
		<p class="text-xl font-medium max-w-xl mx-auto">
			Professionelle Fahrzeugpflege für jeden Anspruch <br>
			vom Kleinwagen bis zum Luxusfahrzeug
		</p>
		
		<div class="mt-10">
			<a href="#pricing" class="btn">Unsere Angebote</a>
		</div>
	</div>
</section>